.main-container {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    padding-left: 64px;
    padding-right: 64px;
}

@media (max-width: 1640px) {
    .main-container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 991px) {
    .main-container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 767px) {
    .main-container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

body{
    height: 100vh;
    background: #f1f5f9;
}

.dropzone__error-mark{
    display: none !important;
}
.dropzone__message{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
}

/* Slider CSS */
input[type=range] {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    margin: 16px 0;
    background: #cfcfcf;
    background-image: -webkit-gradient(linear, 20% 0%, 20% 100%, color-stop(0%, #ADD8E6), color-stop(100%, #ADD8E6));
    background-image: -webkit-linear-gradient(left, #ADD8E6 0%,#ADD8E6 100%);
    background-image: -moz-linear-gradient(left, #ADD8E6 0%, #ADD8E6 100%);
    background-image: -o-linear-gradient(to right, #ADD8E6 0%,#ADD8E6 100%);
    background-image: linear-gradient(to right, #ADD8E6 0%,#ADD8E6 100%);
    background-repeat: no-repeat;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: none;
    background: transparent;
    border-radius: 0px;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border: 4px solid #ADD8E6;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background: #3e3e3f;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: none;
    background: transparent;
    border-radius: 0px;
    border: none;
}
input[type=range]::-moz-range-thumb {
    box-shadow: none;
    border: 4px solid #ADD8E6;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
input[type=range]::-ms-fill-upper {
    background: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
input[type=range]::-ms-thumb {
    box-shadow: none;
    border: 4px solid #ADD8E6;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
    height: 4px;
}
input[type=range]:focus::-ms-fill-lower {
    background: transparent;
}
input[type=range]:focus::-ms-fill-upper {
    background: transparent;
}

tbody tr:hover{
    background-color: #e1e1e1;
}.github-markdown-body

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.github-markdown-body{
    padding: 8px 16px!important;
    background-color: transparent !important;
    color: #64748B !important;
    /*max-width: 480px;*/
}
@media (max-width: 991px) {
    .github-markdown-body{
        width: auto;
    }
}
@media (max-width: 500px) {
    .github-markdown-body{
        width: auto;
    }
    .github-markdown-body p{
        word-break: break-all;
    }
}

.description-panel .v-md-editor-preview {
    word-break: break-all;
    width: 95%;
}

@media (max-width: 991px) {
    .description-panel .v-md-editor-preview{
        width: 90%;
    }
    .description-panel .v-md-editor-preview{
        width: 85%;
    }
}

.description-panel .github-markdown-body{
    padding: 16px 24px!important;
    background-color: #ffffe0 !important;
    width: 100%;
    border-radius: 6px;
    color: #64748B !important;
}

.github-markdown-body p:last-child{
    margin-bottom: 0 !important;
}

.v-md-editor__preview-wrapper, .v-md-icon-preview {
    display: none !important;
}
.v-md-textarea-editor{
    min-height: 100px;
}


.text-line-3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
}

.notifications-wrapper::-webkit-scrollbar {
    width: 4px;
    border-radius: 8px;
}

.notifications-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
}

.notifications-wrapper::-webkit-scrollbar-thumb {
    background-color: #c1bfbf;
    border-radius: 8px;
}
